CONFIG_BOARD_TYPE_MAYI_S3_LCD=y

CONFIG_USE_AFE_WAKE_WORD=n
CONFIG_USE_WAKE_WORD_DETECT=n
CONFIG_USE_AUDIO_PROCESSOR=n
CONFIG_SR_WN_WN9_NIHAOXIAOZHI_TTS=n

CONFIG_USE_DEVICE_AEC=y

CONFIG_SPEAKING_FIRST_MUTE_TIME=60

CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_USE_GIF=y
CONFIG_LV_GIF_CACHE_DECODE_DATA=y
